@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(241, 240, 238);
    color: #333;
    font-family: Hanken Grotesk, sans-serif;
}

#navbar {
    display: flex;
    margin: 10px 40px 40px 40px;
    padding: 20px 0px;
    /* border: 1px solid green; */
}

input {
    height: 2.5rem;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #807d7de1;
    width: 470px;
    font: 0.8rem Hanken Grotesk, Helvetica Neue, arial, sans-serif;
    background-color: transparent;
}

#dropdown-container {
    width: 470px;
    margin-top: 20px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    font: 0.8rem Hanken Grotesk, Helvetica Neue, arial, sans-serif;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 4px rgb(228, 223, 223));
}

.matching-result {
    padding: 15px;
    border-top: 1.5px solid #f5f1f1e1;
}

.matching-result span {
    font-size: 0.9em;
}

#main-container {
    margin: 40px;
    height: 100hv;
    /* border: 1px solid red; */
}

h1 {
    font: normal 2.8rem Lora, Times New Roman, georgia, serif;
}

#citation {
    font: 0.8rem Hanken Grotesk, Helvetica Neue, arial, sans-serif;
    color: rgb(177, 174, 174);
}

#cta-library {
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    margin: 50px 0px;
    border: none;
    background-color: rgb(178, 105, 16);
    color: white;
    font: 0.8em Hanken Grotesk, Helvetica Neue, arial, sans-serif;
    letter-spacing: 0.4px;
    border-radius: 5px;
}

h3 {
    font-size: 2rem;
    font-weight: 350;
}

.books-container {
    margin-bottom: 50px;
    /* border: 1px solid green; */
}
